.row.jumbotron
  = image_tag @user.profile_image, alt: @user.display_name, class: 'col-xs-3'
  .col-xs-9.text-right
    .row
      .profile
        %h1= link_to @user.display_name.html_safe, @user.link
        %h2
          = image_tag 'https://sstatic.net/stackexchange/img/logos/so/so-icon.png'
          = @user.reputation
        %h3
          %ul.badges.list-unstyled.list-inline
            - @user.badge_counts.each do |color, count|
              - next unless count > 0
              %li{class: color}
                %span &#9679;
                #{count}
.row.summary.text-center
  .col-md-3
    .well.well-lg
      %h2= @user.questions.size
      %h3 Questions Asked
  .col-md-3
    .well.well-lg
      %h2= @user.answers.size
      %h3 Questions Answered
  .col-md-3
    .well.well-lg
      %h2= current_streak(@user.answers)
      %h3 Day Answer Streak
  .col-md-3
    .well.well-lg
      %h2= longest_streak(@user.answers)
      %h3 Longest Streak
