.row.jumbotron
  = image_tag @user.profile_image, alt: @user.display_name, class: 'col-xs-3'
  .profile.col-md-3
    %h1.row= link_to @user.display_name.html_safe, @user.link
    %h3.row
      %ul.badges.list-unstyled.list-inline
        - @user.badge_counts.each do |color, count|
          - next unless count > 0
          %li{class: color}
            %span &#9679;
            #{count}
  .reputation.col-md-4.col-md-offset-1
    %h2.row
      = image_tag 'https://sstatic.net/stackexchange/img/logos/so/so-icon.png'
      = @user.reputation
    .row
      %span.change +#{@user.reputation_change_day}
      Today
    .row
      %span.change +#{@user.reputation_change_month}
      This Month
    .row
      %span.change +#{@user.reputation_change_year}
      This Year
.row.summary.text-center
  .col-md-3
    .well.well-lg
      %h2= @user.questions.size
      %h3 Questions Asked
  .col-md-3
    .well.well-lg
      %h2= @user.answers.size
      %h3 Questions Answered
  .col-md-3
    .well.well-lg
      %h2= current_streak(@user.answers)
      %h3 Day Answer Streak
  .col-md-3
    .well.well-lg
      %h2= longest_streak(@user.answers)
      %h3 Longest Streak

.history
  - last_year = last_month = nil
  - history(@user.answers).each_cons(2) do |(date, answers), (next_date, _)|
    - if last_year != date.year || last_month != date.month
      .row
        .col-md-2.text-center= date.strftime('%Y %B')
    - last_year, last_month = [date.year, date.month]
    .row.day
      .col-xs-2.text-right= date.day
      %ul.answers.list-unstyled.col-xs-10
        - answers.each do |answer|
          - question = @answered[answer.question_id]
          %li.answer
            .stamps.pull-left
              %span.stamp.glyphicon.glyphicon-ok{title: accepted_title(answer, question),
                                                class:  accepted_class(answer, question)}
              %span.stamp.metric{title: "Question received #{pluralize(question.score, 'vote')}",
                                 class: ('empty' if question.score == 0)}
                %span.stamp.glyphicon.glyphicon-question-sign
                %span.number= question.score
              %span.stamp.metric{title: "Answer received #{pluralize(answer.score, 'vote')}",
                                 class: ('empty' if answer.score == 0)}
                %span.stamp.glyphicon.glyphicon-triangle-top
                %span.number= answer.score
            %p= link_to question.title.html_safe, question.link
    - if next_date && date.year != next_date.year
      .row.gap
        .col-md-4
          %hr
        .col-md-4.text-center= date_difference(next_date, date)
        .col-md-4
          %hr
